/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.bg-logo{
  background: url({{ url_for ('static', filename = 'C:\Users\91918\Documents\Forest_fire_prediction\Forest_fire_prediction\static\css\bg.jpg') }});
  background-size: 100% 100%;
  height: 300px;
  background-size: cover;


}
